<md-toolbar class="md-hue-2 md-short">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
            <i class="material-icons text-white rotate" ng-class="{'change': isSidenavOpen}">menu</i>
            <i class="material-icons text-white nrotate" ng-class="{'change': isSidenavOpen}">arrow_forward</i>
        </md-button>
    
        <h2 flex md-truncate></h2>

        <md-button class="md-icon-button" aria-label="Configuração">
            <i class="material-icons">more_vert</i>
        </md-button>
    </div>
</md-toolbar>



<section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-open="isSidenavOpen" md-whiteframe="4">

        <md-content md-scroll-y flex layout="column">
          <md-accordion locked="true">
          
            <br>
                 
            <script type="text/ng-template" id="menuTree">
                <md-accordion-button ng-if="item.goto" ui-sref="{{ item.goto }}" ng-if="item.goto" ng-click="toggleLeft()"><i class="fa {{ item.css }}"></i> {{ item.descrp }}</md-accordion-button>
                
                <md-accordion-content ng-if="!item.goto" md-class="fa {{ item.css }}" md-heading="{{ item.descrp }}" md-arrow="true">
                    <md-accordion-button ng-repeat="subitem in item.submenu" ui-sref="{{ subitem.goto }}" ng-if="subitem.goto" ng-click="toggleLeft()"><i class="fa {{ subitem.css }}"></i> {{ subitem.descrp }}</md-accordion-button>
                    <div ng-if="item.submenu" ng-repeat="item in item.submenu" ng-include="'menuTree'"><md-accordion-group></md-accordion-group></div>
                </md-accordion-content>
            </script>
                           
            <div ng-repeat="item in menu" ng-include="'menuTree'"><md-accordion-group></md-accordion-group></div>
            
            <md-accordion-group>
                <md-divider></md-divider>
                <md-accordion-button href="#!/signout" ui-sref="signout"><i class="fa fa-sign-out"></i> Sair</md-accordion-button>
            </md-accordion-group>
                     
          </md-accordion>
        </md-content>
        
    </md-sidenav>

    <md-content flex layout-padding>

        <data ui-view></data>

    </md-content>

</section>
