<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Listagem">
        <md-content class="md-padding">
          <div layout="row">
            <h4 flex="" ng-repeat="column in tctrl.columns">{{column.title}}</h4>
          </div>        

          <div layout="row" ng-repeat="row in data">
            <p flex="" ng-repeat="column in tctrl.columns"><span ng-if="row[column.field][0].descrp">{{ row[column.field][0].descrp }}</span><span ng-if="!row[column.field][0].descrp">{{ row[column.field] }}</span></p>
          </div>        

        </md-content>
      </md-tab>
      <md-tab label="Edição">
        <md-content class="md-padding">
          <h1 class="md-display-2">Edição</h1>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
