<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Listagem">
        <md-content class="md-padding">
          <md-list class="md-dense" flex>
            <md-list-item layout="row">
                <h4 flex="{{column.size}}" ng-repeat="column in tctrl.columns">{{column.title}}</h4>
            </md-list-item>        

            <md-list-item layout="row" ng-repeat="row in data" ng-click="null">
                <div class="md-list-item-text" flex="{{column.size}}" ng-repeat="column in tctrl.columns"><span ng-if="row[column.field][0].descrp">{{ row[column.field][0].descrp }}</span><span ng-if="!row[column.field][0].descrp">{{ row[column.field] }}</span></div>
            </md-list-item>
          </md-list>

        </md-content>
      </md-tab>
      <md-tab label="Edição">
        <md-content class="md-padding">
          <h1 class="md-display-2">Edição</h1>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
